button {
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    font-family: 'Courier New', 'Courier', monospace;
}
p {
    font-family: 'Courier New', 'Courier', monospace;
}

.watermark {
    font-family: 'Courier New', 'Courier', monospace;
    font-size: 16px;
    font-weight: bold;
    position: sticky; 
    text-align: center;
    bottom: 0px;
    background-color: 00d1c8;
}

.secret {
    text-align: center;
    background-color: crimson;
}